services:
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=vet_db
      - POSTGRES_USER=vet_user
      - POSTGRES_PASSWORD=vet_password
    ports:
      - "5432:5432"

volumes:
  postgres_data:
